<div class="container">
    <div class="heading">
        <h2>Blood Bank</h2>
    </div>
    <div class="bloodbank">
    <div class="groups">
    <div class="card" *ngFor="let blood of bloodgroups | keyvalue" cdkDrag>
    <mat-card id={{blood.key}}>
        <mat-card-title>
        {{blood.value.bloodGroup}}
        </mat-card-title>
        <mat-card-content>
         <mat-form-field >
                 <input class="input" matInput [(ngModel)]="blood.value.count">
        </mat-form-field>  
        </mat-card-content>
    </mat-card>  
</div>  
</div>
</div>
<div class="row">
<div class="col-md-6 right">
<div class="reqirement">
    <div class="enquiry"><h4>Check for the availability</h4></div>
    <div class="formenquiry">   
    <div class="question">Required Bloodgroup:</div>
    <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="requiredBlood">
    </mat-form-field>
    </div>
    <div class="formenquiry">
    <div class="question">Number of bottels:</div> 
    <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="requiredCount">
    </mat-form-field>
    </div>
    <button mat-raised-button (click)="check()">Check availability</button>
</div>
</div>
<div class="col-md-6 left">
<div class="list"></div>
</div>
</div>
</div>


  